.capital:hover {
  fill: yellow;
}

.gangwon:hover {
  fill: yellow;
}

.chungnam:hover {
  fill: yellow;
}

.chungbuk:hover {
  fill: yellow;
}

.jeonnam:hover {
  fill: yellow;
}

.jeonbuk:hover {
  fill: yellow;
}

.gyeongnam:hover {
  fill: yellow;
}

.gyeongbuk:hover {
  fill: yellow;
}

.jeju:hover {
  fill: yellow;
}
